email.username=gustavo.torregrosa@gmail.com
email.app.password=

rabbitmq.host=rabbitmq
rabbitmq.username=gustavo
rabbitmq.password=gustavo01
rabbitmq.port=5672
rabbitmq.queueName=cloud9_send_product_queue
rabbitmq.virtualHost=/

mail.smtp.auth=true
mail.smtp.starttls.enable=true
mail.smtp.host=smtp.gmail.com
mail.smtp.port=587